# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/.cxx/
.build/app/
.build/app_links/
.build/b800735a89bd6213ba30d27cce8059aa/
.build/cloud_firestore/
.build/d3e9f13d21eea02d72349f0cd316fcfe/
.build/firebase_auth/
.build/firebase_core/
.build/firebase_messaging/
.build/firebase_storage/
.build/flutter_assets/
.build/flutter_local_notifications/
.build/flutter_plugin_android_lifecycle/
.build/image_picker_android/
.build/reports/
.build/shared_preferences_android/
.build/url_launcher_android/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.env
.vercel
.env*
